@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  @apply bg-secondary h-full text-white;
}

input,
button {
  border-radius: 10px;
  outline: none;
  color: black;
}

.radio-input {
  visibility: hidden;
}

.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 1s ease-out both;
  animation: swirl-in-fwd 1s ease-out both;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(45) scale(1);
    transform: rotate(45) scale(1);
    opacity: 1;
  }
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background: hsl(98, 97%, 24%)!important;
}
.Toastify__toast-container--top-center {
  top: 0em !important;
}

.Toastify__toast{
  min-height: 20px !important;
  padding: 4px !important;
}
.Toastify__toast-container{
  width: 250px !important;
}